.styleButtonRed {
    font-size:25px;
    color:red;
    padding-bottom:3px
}
.styleButtonYellow {
    font-size:25px;
    color:yellow;
    padding-bottom:3px
}

.buttonsWrap{
    display: flex;
    justify-content: center;
    button{
       margin-left: 5px;
    }
}