.AppWrapper {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-areas:
          "h h h"
          "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.AppContainer{
  grid-area: c;
  background: aliceblue;
}



